<!--AdminPage, is where the table with the user's statistcs is presentend-->
<!DOCTYPE html>
<html>
  <head>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
     
    </style>
    <script>
      //function to update the table of the users statistics , it will get the information through the REST API , using the endpoint '/API/users/'
        function updateUserstable(){
          $.ajax({
              url: '/API/users/',
              type: "GET",
              dataType: "json",
              success: function (data) {
                console.log(data);
                $('#usersTable > tbody:last-child').empty()
                data["users"].forEach(v => {
                  console.log(v["username"]+" "+v["name"]+" "+v["type_user"]+" "+v["nr_videos"]+" "+v["nr_views"]+" "+v["nr_questions"]+""+v["nr_answers"])
                  $('#usersTable > tbody:last-child').
                    append('<tr> <td>'+ v["username"]+'</td><td>' +v["name"] + '</td><td>' +v["type_user"] + '</td><td>'+ v["nr_videos"] + '</td><td>'+ v["nr_views"] + '</td><td>'+v["nr_questions"]+'</td><td>'+v["nr_answers"]+ '</td></tr>');
                });
              }
          });
        }

        $(document).ready(function(){
            updateUserstable()
            //function of the button that updates the user table
            $("#buttonUpdateUsertable").click(
              function(){
                updateUserstable()
              }
            )
              //function of the go back button, to go to the previous page
            $("#buttonBack").click(function(){
                window.location.href ='/API/admin/' ;
              })  
        });

    </script>

  </head>
  <body style="background-color:rgb(255, 174, 185)">
    <h3>List of users</h3>
    
    <table class="ui celled table selectable" id="usersTable" >
      <thead style="background-color:rgb(255, 255, 255)">
        <tr style="background-color:rgb(255, 255, 255)">
          <th>Username</th>  <th>Name</th>   <th>Type</th>  <th>Number of Videos Registered</th>  <th>Number of video views</th> <th>Number of made questions</th> <th>Number of made answers </th>
        </tr>
      </thead>
      <tbody style="background-color:rgb(255, 255, 255)">
      </tbody>
    </table>
    <button class="ui button" id="buttonUpdateUsertable">
      Update List
    </button>
    <br>
    <br>
    <button class="ui button" id="buttonBack">
      Go Back
    </button>
  </body>

</html>