<!--Page of the admin, where it is possible to select if the user wants to see the user's statistics or the logs activities
There is a Go Back button that returns to the appPage-->
<!DOCTYPE html>
<html>
  <head>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
      *{
        background-color:  rgb(195, 188, 255);
      }
     
    </style>
    <script>
        
        $(document).ready(function(){
            $("#buttonStatistics").click(function(){
                window.location.href ='/API/statshtml/';
              }
            )

            $("#buttonLogs").click( function(){
                window.location.href ='/API/logshtml/' ;
              }
            )

            $("#buttonReturn").click(
              function(){
                window.location.href ='/app_page/' ;
              }
            )
          
        });

    </script>

  </head>
  <body style="background-color:rgb(195, 188, 255)">
    <h3> Admin Page </h3>
    <br>
    <button class="ui button" id="buttonStatistics">
        Go to user statistics
    </button>
    <br>
    <br>
    <button class="ui button" id="buttonLogs">
        Go to Log Listing
    </button>
    <br>
    <br>
    <button class="ui button" id="buttonReturn">
      Go back
    </button>
  </body>
 
</html>